*{
    background-color: #262626;
    color: #ffffff;
}


/* empêcher le scroll de la page */

/* body{
    overflow-y: hidden;
    width: 100vh;
    height: 100vh;
} */
.menu-carte{
    overflow-y: scroll;
    max-height: 100vh;
}
    #bas{
    height: 100vh;
    overflow-y: hidden; 
}
.about-button{
    background-color: #514ab4;
    width: 111px;
    height: 52px;
    font-family: 'Good Mood', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 36px;
    text-align: center;
    vertical-align: center;
    
    border: 1px solid white ;
    border: 5px solid #b44a4a ;
    border-collapse: collapse; 
    transform: rotate(5deg);
}
.about-button:hover{
    transition-duration: 300ms;
    transform: rotate(0deg);
}
h1{
    font-family: 'Good Mood', Arial, Helvetica, sans-serif;
}
.menu-item{
    border: #9EDFFD 7px;
}
.accordion-item{
    background: none;
    border: none;   
}
.accordion-button{
    background: none;
}
.accordion{
    background: none;
}
button.accordion-button h1{
    margin-left: auto;
    margin-right: auto;
    color: #C6A610;
    font-size: 36px;

}
.carousel-item.active{
    border: 7px solid #9EDFFD;
    border-radius: 43px;
    max-width: 346px;
    max-height: 584px;
}
.carousel-item.active img{
    max-width: 240px;
    max-height: 195px;
 
}
button.carousel-control-prev{
    visibility: hidden;
}
button.carousel-control-next{
    visibility: hidden;
}


/* pour enlever la fleche quand le menu est fermé */

.accordion-button:not(.collapsed){
    background: none;
}

/* la croix pour fermer le menu */

button.accordion-button:not(.collapsed)::after{
    background-image: url(img/close_white_36dp.svg);
    
}

/* le petit trait en dessous des menus accordéons */

.separateur{
    
    width: 42px;
    border: 5px solid #514AB4;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
