/* Eléments courrants */
body{
    font-family: Rubik;
    color: white;
    background-color: #262626;
    font-size: 1.5vh;
    max-width: 1440px;
}
p{
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding: 0vh;
}
a{
    text-decoration: none;
    color: none;
}
a:hover{
    color: white;
}

/* Section */
#a-propos{
    height: 100vh;
}
#home{
    height: 100vh;
}
#menu{
    z-index:120000;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

/* Eléments spécifiques */
.logo{
    height: 25vh;
    width: 25vh;
}
.logo-mini{
    height: 14vh;
}
.icon{
    height: 4.3vh;
    width: 4.3vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.logos-group{
    margin:auto;
    display: flex;
    margin-top: 2vh;
}



/* Boutton classique (comme dans le home) */
.button{
    height: 7.5vh;
    width: 20vh;
    border: none;
    outline: 1px white solid;
    outline-offset: -1vh;
    transform: rotate(4deg);
    color: white;
    font-family: Good Mood;
    font-size: 4vh;
    margin: auto;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
/* Boutton redressé avec shadow */
.button-mobile{
    height: 7.5vh;
    width: 17vh;
    border: none;
    outline: 1px white solid;
    outline-offset: -1vh;
    color: white;
    font-family: Good Mood;
    font-size: 4vh;
    margin: auto;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 70%) 3px 3px 3px;
}
.btn-blue{
    background-color: #514ab4;
}
.btn-yellow{
    background-color: #DDB90D;
}
.btn-orange{
    background-color: #BC3718;
}

/* Boutton couleur inversé */
.button-dark{
    height: 7.5vh;
    width: 17vh;
    border: none;
    font-family: Good Mood;
    font-size: 4vh;
    margin: none;
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    transform: rotate(4deg);
}
.dark-red{
    outline: 1px solid #bc3718;
    outline-offset: -1vh;
    color: #bc3718;
    background-color: #3c3c3c;
}
.dark-yellow{
    outline: 1px solid #ddb90d;
    outline-offset: -1vh;
    color: #ddb90d;
    background-color: #3c3c3c;
}
.dark-blue{
    outline: 1px solid #746aff;
    outline-offset: -1vh;
    color: #746aff;
    background-color: #3c3c3c;
}


.mon-panier{
    color: white;
    font-family: Good Mood;
    font-size: 3vh;
}

/* Dans à propos */
.light{
    font-family: Rubik light;
}
.photo-salle{
    height: 45vh;
    margin: auto;
    display: flex;
}
.text-article{
    font-size: 2.3vh;
}
.line{
    height: 4px;
    width: 45px;
    background-color: #DDB90D;
    margin: auto;
    margin-top: 3vh;
    display: flex;
}


.center{
    display: flex;
    margin: auto;
}


@font-face {
    font-family: Good Mood;
    src: url(font/good_mood/Good\ Mood.ttf);
}

/* Normalement inutile (tout ce qui est dans l'accordéon)*/
.accordeon-button{
    color: #DDB90D;
    background-color:#262626;
    border: none;
}
.photo-carousel{
    height: 25vh;
}
.cadre-carousel{
    width: 324px;
    height: 65vh;
    border: solid #9edffd 7px;
    border-radius: 30px;
    margin: auto;
}
.prix{
    color: #DDB90D;
    font-size: 3vh;
}
.description{
    color: #f3d4a9;
    width: 28vh;
}
.accordeon-header{
    color: #DDB90D;
    font-family: Good Mood;
}
.accordeon{
    text-decoration: none;
    ;
}
h2{
    background-color: none;
    color: none;
}
.product-name{
    color: #f3d4a9;
}